@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	flex: 0 1 auto;
}

body {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 320px;
	max-width: 400px;
	width: 400px;
	background-color: #fff;
	overflow-x: hidden;
	height: 100vh;
}

@media (max-width: 400px) {
	body {
		width: 100%;
	}
}

div {
	display: block;
}

.fixed-top {
	max-width: 400px;
	width: 100%;
	height: 180px;
	z-index: 1;
	text-align: center;
	position: fixed;
	top: 0;
}

/* BANNER */
.banner {
	background-color: #e7e7e2;
	width: 100%;
	padding: 20px;
}

.banner p {
	padding: 13px;
	font-size: 0.875em;
	color: #222;
}

.banner a {
	color: #222;
}

/* END OF  BANNER  */

/* SEARCH BAR */

.search-bar {
	background-color: #fff;
	/* margin-inline-start: 24px; */
	/* margin-inline-end: 24px; */
	width: 100%;
	margin: 0 auto;
	padding: 10px 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.search-bar .content {
	border: 2px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
	border-radius: 35px;
	background-color: transparent;
	width: 100%;
	height: 100%;
	min-height: 56px;
	display: flex;
}

.search-icon {
	margin-left: 4px;
	padding-left: 10px;
	padding: 7px;
	padding-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	color: #000;
}

.search-icon a {
	width: 20px;
	height: 20px;
	color: #000;
	cursor: pointer;
}

.search-text {
	display: inline-block;
	/* flex: 1; */
	color: #222;
	font-size: 0.75rem;
	padding-top: 10px;
	padding-left: 2px;
}

.search-text p {
	text-align: left;
	color: #000;
}

.search-text a {
	text-decoration: none;
}

.search-query {
	font-size: 0.625rem;
}

/* CATEGORIES SCROLLER */

.categories {
	display: inline-grid;
	grid-auto-flow: column;
	grid-auto-columns: 17%;
	gap: 1.3rem;

	background-color: #fff;
	padding: 3px 10px;
	margin: 0 auto;
	height: 60px;
	width: 100%;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
	size-adjust: 100%;
}

.categories::-webkit-scrollbar {
	/* WebKit */
	width: 0;
	height: 0;
}

.category {
	display: inline-grid;
	gap: 0.45rem;
	display: grid;
	min-width: min(calc(64 / 2+ 12px), 40px);
	grid-template-rows: auto auto;
	/* width : 70px; */
	margin: 0 5px;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	opacity: 0.5;
	text-align: center;
	font-weight: 300;
	cursor: pointer;
	columns: auto max-content;
}

.category > img {
	inline-size: 23px;
	/* aspect-ratio : 16/9; */
	object-fit: cover;
	padding-bottom: 0px;
	margin-bottom: 0;
	justify-self: center;
	align-self: center;
	text-align: center;
}

.category p {
	font-size: 0.625rem;
	font-weight: 700;
	padding: 0 0.15rem;
	white-space: nowrap;
	/* padding: 0 5px -2px; */
	padding-bottom: 5px;
	text-align: center;
	text-wrap: nowrap;
	line-height: 10px;
	justify-self: center;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.category:hover,
.category.active {
	font-weight: 700;
	opacity: 1;
}

.category:hover,
.category.active {
	border-bottom: 2px solid #0f0101;
	cursor: default;
	border-bottom-width: 50%;
}

* MAIN CONTENT CONTAINER */ .main-content-container {
	margin-top: 200px;
	padding-bottom: 12px;
	z-index: -1;
}

.container-1 {
	display: grid;
	margin-top: 215px;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 24px;
	gap: 20px;
	width: 400px;
	height: auto;
	color: #000;
	grid-template-columns: 1fr;
	padding-inline: 24px;
	padding-block: 48px;
	margin-inline: auto;
}

.card-container {
	display: flex;
	justify-content: space-between;
}

.container-1 .card {
	background-color: #fff;
	position: relative;
	width: 370px;
	height: 340px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.container-1 .card .box {
	position: absolute;
	top: 0;
	bottom: 0px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.container-1 .card .box .content {
	padding: 0;
}

.box .content > img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: inline-block;
	vertical-align: bottom;
	object-fit: cover;
	background-size: cover;
	align-content: center;
	justify-content: center;
	margin-bottom: 10px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.place-title,
.content .title,
.content .when {
	font-size: 14px;
	font-weight: 600;
}

.copyright,
.place-subtitle,
.content .host {
	font-size: 14px;
	font-weight: 400;
}

/* OVERLAY */
.content-box-overlay {
	width: 90%;
	height: 250px;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
	top: 0px;
	bottom: 0;
	left: 20px;
	right: 0;
	margin: 0 auto;
}

.content-box-overlay .live {
	position: absolute;
	top: 10px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	margin: 5px;
	font-size: 0.6rem;
	display: inline-block;
	border-radius: 18px;
	letter-spacing: 0.2em;
}

.content-box-overlay .share {
	position: absolute;
	top: 10px;
	right: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 7px;
	margin: 5px;
	height: 28px;
	width: 28px;
	align-self: center;
	justify-content: center;
	font-size: 14px;
	display: inline-block;
	border-radius: 50%;
}

.marker {
	position: absolute;
	bottom: 10px;
	left: 40%;
	transform: translate(50% 50%);
}

.dot {
	height: 5px;
	width: 5px;
	background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
	padding: 2px;
}

.dot:first-child {
	background-color: #fff;
}

/* INSPIRATION FOR FUTURE GATEAWAYS  */

.links {
	background-color: #e7e7e2;
	width: 100%;
	height: auto;
	z-index: -1;
	color: #000;
	padding-inline: 24px;
	padding-block: 48px;
	margin-inline: auto;
}
.support-links,
.future-links-container {
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 0.75rem;
	font-weight: 300;
	margin-bottom: 8px;
	margin-top: 10px;
	color: #222;
	text-decoration: none;
}

.future-category {
	width: 100%;
	display: flex;
	gap: 10px;
	flex-wrap: nowrap;
	overscroll-behavior-inline: contain;
	overflow-x: auto;
}

.future-category::-webkit-scrollbar {
	/* WebKit */
	width: 0;
	height: 0;
}

.future-category > button {
	display: flex;
	background-color: transparent;
	padding: 10px;
	padding-bottom: 10px;
	border: none;
	font-size: 14px;
	font-weight: 600;
	color: #6a6a6a;
	line-height: 14px;
	white-space: nowrap;
}

button:focus {
	border: none;
}

.future-category {
	border-bottom: 1px solid #6a6a6a;
}

.future-category button:hover {
	border-bottom: 2px solid #222;
}

.future-links.left {
	position: absolute;
	left: 0;
}

.future-links.right {
	position: absolute;
	right: 0;
}

.future-links.left:hover,
.future-links.right:hover {
	border-bottom: none;
}

.future-links-container .places {
	width: 100%;
	margin: 0 auto;
	/* background-color: rgb(93, 131, 238); */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.places .place {
	margin-top: 20px;
	margin-bottom: 20px;
}

.places .place:last-child {
	margin-bottom: 1.5rem;
}

/* SUPPORT & HOSTING & ABOUT US */

.footer,
.country-currency-copyright-links,
.company-links,
.about-us-links,
.hosting-links,
.support-links {
	padding-block: 24px;
}

h2 {
	text-decoration: none;
}

ul,
ol {
	display: grid;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 12px;
}

li,
li a,
a {
	text-decoration: none;
	color: #222;
	font-size: 16px;
}

/* copyright currency */

.country-currency {
	padding-bottom: 20px;
	font-weight: 600;
}

.country-currency a {
	text-decoration: none;
	color: #0f0101;
	font-size: 0.7em;
}

.country-currency span {
	float: center;
	margin-left: 4rem;
}

.copyright {
	font-size: 8px;
	padding-bottom: 10px;
}

ol {
	display: inline;
}

ol li {
	display: inline-block;
	line-height: 26px;
}

/* FOOTER */

.fixed-bottom {
	background-color: #fff;
	position: fixed;
	bottom: 0;
	z-index: 100;
	height: 4rem;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	padding-block: 4px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
}

.footer > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	cursor: pointer;
}

.footer i {
	font-size: 24px;
	cursor: pointer;
}

.footer p {
	margin-top: 8px;
	font-size: 14px;
}
.footer .explore {
	color: #dd1063;
}
